<?xml version="1.0"?>
<DataConfigGestionnaire xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <NomBDD>Dechetterie</NomBDD>
  <IPBDD>192.168.0.100</IPBDD>
  <PortBDD>3306</PortBDD>
  <UsernameBDD>adminNorskel</UsernameBDD>
  <PasswordBDD>ubYsyrBSO1TFAvjco9Bc</PasswordBDD>
  <COM>COM10</COM>
</DataConfigGestionnaire>